body {
    font-family: Georgia, serif;
}

#title{
    color:black;
   
}

h3 {
    font-family: Georgia;
    color: white
}

h2 {
    color: black;
}

#notes {
    color: black
}

header h2 {
    color:black;
}


.footer-dark {
    padding:30px 0;
    color:#f0f9ff;
    background-color:black;
    font-size:16px;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:16px;
    font-weight:bold;
    font-size:16px;
  }
  
.jumbotron {
    padding: 150px;
    margin: 0;
    color: white;
    background-image: url('../images/header.jpg');
}

.navbar {
    background-color: #bb9017
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.btn btn-link {
    color: white;
}
.btn-primary {
    background-color:black
}